@model Domain.Models.WebModels.BroadcastDiagnostics.DiagnosticsParams

<div class="card-group">
    <div class="card @Model.BroadcastDiagnosticsRow2.GetNumberOfServerPrimary21RunningBrodcastInTheQueueTextColor() bg-@Model.BroadcastDiagnosticsRow2.GetTotalNumberOfServerPrimary21RunningBrodcastInTheQueueTileColor() mb-3" style="max-width: 20rem;">
        <div class="card-header"><span class="badge badge-light">2</span> Total Records: @Model.BroadcastDiagnosticsRow2.NumberOfServerPrimary21RunningBrodcastInTheQueue</div>
        <div class="card-body">
            <h4 class="card-title">bcstque4 Table</h4>
            <p class="card-text">
                Total number of broadcast records in the queue in running status by server number: 21
            </p>
        </div>
        <div class="card-footer">
            <small>Records could be zero at times</small>
        </div>
    </div>

    <div>&nbsp;</div>
    <div class="card @Model.BroadcastDiagnosticsRow2.GetNumberOfServerOffline24RunningBrodcastInTheQueueTextColor() bg-@Model.BroadcastDiagnosticsRow2.GetNumberOfServerOffline24RunningBrodcastInTheQueueTileColor() mb-3" style="max-width: 20rem;">
        <div class="card-header"><span class="badge badge-light">3</span> Total Records: @Model.BroadcastDiagnosticsRow2.NumberOfServerOffline24RunningBrodcastInTheQueue</div>
        <div class="card-body">
            <h4 class="card-title">bcstque4 Table</h4>
            <p class="card-text">
                Total number of broadcast records in the queue in running status by server number: 24
            </p>
        </div>
        <div class="card-footer">
            <small>Records could be zero at times</small>
        </div>
    </div>

    <div>&nbsp;</div>
    <div class="card @Model.BroadcastDiagnosticsRow2.GetNumberOfServerOffline25RunningBrodcastInTheQueueTextColor() bg-@Model.BroadcastDiagnosticsRow2.GetNumberOfServerOffline25RunningBrodcastInTheQueueTileColor() mb-3" style="max-width: 20rem;">
        <div class="card-header"><span class="badge badge-light">4</span> Total Records: @Model.BroadcastDiagnosticsRow2.NumberOfServerOffline25RunningBrodcastInTheQueue</div>
        <div class="card-body">
            <h4 class="card-title">bcstque4 Table</h4>
            <p class="card-text">
                Total number of broadcast records in the queue in running status by server number: 25
            </p>
        </div>
        <div class="card-footer">
            <small>Records could be zero at times</small>
        </div>
    </div>

    <div>&nbsp;</div>
    <div class="card @Model.BroadcastDiagnosticsRow2.GetNumberOfServerHot26RunningBrodcastInTheQueueTextColor() bg-@Model.BroadcastDiagnosticsRow2.GetNumberOfServerHot26RunningBrodcastInTheQueueTileColor() mb-3" style="max-width: 20rem;">
        <div class="card-header"><span class="badge badge-light">5</span> Total Records: @Model.BroadcastDiagnosticsRow2.NumberOfServerHot26RunningBrodcastInTheQueue</div>
        <div class="card-body">
            <h4 class="card-title">bcstque4 Table</h4>
            <p class="card-text">
                Total number of broadcast records in the queue in running status by server number: 26
            </p>
        </div>
        <div class="card-footer">
            <small>Records could be zero at times</small>
        </div>
    </div>

</div>